@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>ServerBlazorEF</PageTitle>

<div class="page">




    <main>
        <div class="top-row px-4">
            <a href="">Home</a>
            <a href="donations">Donations</a>
            <a href="adddonation">Add Donation</a>
            <button @onclick="Logout">Logout</button>
            @* <a href="contacts">Contacts</a>
            <a href="paymentmethods">Payment Methods</a>
            <a href="transtypes">Transaction Types</a>
            <a href="taxreceipt">Tax Receipt</a> *@
        </div>

        <article class="content px-4">

                @Body

        </article>
        <footer class = "footer">
            Scott Hopkins A01049600
        </footer>
    </main>
</div>

<style>
    /* Add your styles for the footer here */
    .footer {
        background-color: #f8f9fa;
        padding: 10px;
        text-align: center;
    }
</style>

@code{
    private void Logout()
    {
        NavigationManager.NavigateTo("/", forceLoad: true);
    }
}

