@page "/"
@using ServerBlazorEF.Data
@inject DonationService donationService
<h1>Donations</h1>

@if (donations == null) {
  <p><em>Loading...</em></p>
} else {
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>School</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in donations)
      {
        <tr>
          <td>@item.AccountNo</td>
          <td>@item.Amount</td>
          <td>@item.Notes</td>
        </tr>
        }
    </tbody>
  </table>
}


@code {
  List<Donation>? donations;

  protected override async Task OnInitializedAsync() {
    donations = await donationService.GetDonationsAsync();
  }

}